.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1100px;
    margin: 0;
}

.header {
    padding: 92px 50px 96px 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;   
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 148px;
    height: 105px;
    padding: 0px 6px;
}

.header__logo-image {
    width: 100%;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
    text-underline-offset: 3px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: lowercase;
}

.header__link_active .header__link {
    text-decoration: none;
}

.adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 240px;
    font-style: inherit;
    font-size: 18px;
    line-height: 24.3px;
    text-underline-offset: 3px;
}

.header__address {
    justify-self: end;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    z-index: 0;
    top: 0;
    left: 0;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1100px;
    height: 757px;
    padding: 165px 50px 50px 50px;
    margin-bottom: 185px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 100px;
    font-style: bold;
    line-height: 1.15;
    color: rgba(255, 255, 255, 1);
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
    padding-bottom: 20px;
}

.aligned-text_center {
    text-align: center;
    padding-left: 24px;
    padding-bottom: 20px;
}

.aligned-text_right {
    text-align: right;
    padding-left: 615px;
}

.letter-spacing-extended {
    letter-spacing: 29px;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    word-spacing: 18.5px;
}

.bet-button {
    height: 51px;
    border: 1px solid;
    padding: 12px 32px;
    background-color: transparent;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.lots {
    padding: 0px 25px;
    margin-bottom: 155px;
}

.lots__heading {
    padding: 0px 40px 30px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1)
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 30px;
}

.lots__card-list-item {
    height: 100%;
    list-style: none;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 334px;
    height: 596px;
    padding: 48px 40px;
}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline solid;
    color: rgba(255, 255, 255, 1);
}

.card__text {
    position: relative;
    z-index: 1;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0%;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.lots__look-more-link {
    display: block;
    padding: 1px 0px 0px 40px;
    text-underline-offset: 5px; 
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: lowercase;
    color: rgba(0, 0, 0, 1);
}

.about {
    padding: 0px 24px;
    margin-bottom: 174px;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
}

.logo__column {
    justify-self: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column {
    display: grid;
    justify-content: space-between;
    justify-self: center;
    height: 449px;
    margin: 106px 0px 13px 0px;
}

.about__title {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0%;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    padding-bottom: 102px;
}

.description-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.paragraph_1 {
    max-width: 688px;
}

.paragraph_2 {
    max-width: 693px;
}

.footer {
    padding: 0px 50px 82px 50px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.footer_adress {
    justify-self: end;
    max-width: 242px;
}

.footer__menu-list {
    display: block;
    text-align: center;
    list-style: none;
    padding-top: 1px;
    text-underline-offset: 3px;
    line-height: 1.3;
}

.footer__link {
    font-size: 18px;
    line-height: 1;
    text-transform: lowercase;
}

.footer__menu-link_active .footer__link {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-list-item {
    list-style: none;
}

.footer__social-icon {
    width: auto;
    height: 48px;
}